.foot{
   min-height: 20vh;
   background-color: black;
   color: white;
}
.foot-center{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 20px;
}
@media screen and (max-width:1200px) {
   .foot-center{
    flex-direction: column;
   }
  
 }
